<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>文章发布</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <!-- 全局强制性样式 -->
        <link href="http://www.93636.com/statics/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="http://www.93636.com/statics/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="http://www.93636.com/statics/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="http://www.93636.com/statics/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <link href="http://www.93636.com/statics/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
        <!-- 页面样式 -->
        <link href="http://www.93636.com/statics/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
        <!-- 主题风格 -->
        <link href="http://www.93636.com/statics/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
        <link href="http://www.93636.com/statics/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
        <link href="http://www.93636.com/statics/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
        <link href="http://www.93636.com/statics/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="http://www.93636.com/statics/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
        <script src="http://www.93636.com/statics/new/js/jquery.js" type="text/javascript"></script>

        <link rel="shortcut icon" href="favicon.ico"/>
		<!-- 核心插件 -->
<!--[if lt IE 9]>
<script src="http://www.93636.com/statics/assets/assets/global/plugins/respond.min.js"></script>
<script src="http://www.93636.com/statics/assets/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="http://www.93636.com/statics/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="http://www.93636.com/statics/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://www.93636.com/statics/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- 页面级脚本 -->
<script src="http://www.93636.com/statics/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="http://www.93636.com/statics/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script src="http://www.93636.com/statics/assets/global/plugins/select2/select2.min.js"type="text/javascript" ></script>
<script src="http://www.93636.com/statics/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="http://www.93636.com/statics/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="http://www.93636.com/statics/assets/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {     
  Metronic.init(); // 初始化核心插件
  Layout.init(); // 初始化布局
  Login.init();
       $.backstretch([
        "http://www.93636.com/statics/assets/admin/pages/media/bg/1.jpg",
        "http://www.93636.com/statics/assets/admin/pages/media/bg/2.jpg",
        "http://www.93636.com/statics/assets/admin/pages/media/bg/3.jpg",
        "http://www.93636.com/statics/assets/admin/pages/media/bg/4.jpg"
        ], {
          fade: 1000,
          duration: 8000
    }
    );
});
</script>
<script src="http://www.93636.com/statics/js/baidu_count.js" type="text/javascript"></script>
    </head>

    <body class="page-header-fixed page-sidebar-closed-hide-logo">
        
		
		{template "business","header"}
        <div class="clearfix"></div>
		{template "business","left"}
        <!-- 正文内容 -->
        <div class="page-container">
            

            <!-- 右侧内容 -->
            <div class="page-content-wrapper">
                <div class="page-content">

                    <!-- 导航树-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">首页</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="#">内容管理</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>内容发布</span>
                            </li>
                        </ul>				
                    </div>
                    <!-- 导航树 end-->

                    <!-- 设置选项 -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
							
                                <form  action="/index.php?m=business&c=index&a=add_content" method="post" id="form_post" enctype="multipart/form-data">
                                    <div class="form-group form-md-radios">
                                        <div class="md-radio-list">
                                            <div class="col-auto">
                                                <div class="col-1">
                                                    <div class="content pad-6">
                                                        <table width="100%" cellspacing="0" class="table_form">
                                                            <tbody>
                                                            
                                                                <tr>
                                                                    <th width="80"> 文章标题 </th>
                                                                    <td><input type="text"  maxlength="30" size="50" value="{$info['title']}" class="input-text" name="info[title]" id="title"> </td>
																	
                                                                </tr>
                                                                <tr>
                                                                    <th width="80"> 文章关键字</th>
                                                                    <td><input type="text" name="info[keywords]" size="50" value="{$info[keywords]}" class="input-text" id="keywords">  </td>
                                                                </tr>
																<tr>
                                                                    <th width="80"> 文章标签</th>
                                                                    <td><input type="text" name="info[tags]" size="50" value="{$info[tags]}" class="input-text" id="tags">  </td>
																	<td><input type="hidden" name="info[id]" size="50" value="{$info[id]}" class="input-text" id="id">  </td>
                                                                </tr>
                                                                <tr>
                                                                   
                                                               
																<th width="80"> 发布时间 </th>
																<link rel="stylesheet" type="text/css" href="http://www.93636.com/statics/js/calendar/jscal2.css"/>
																<link rel="stylesheet" type="text/css" href="http://www.93636.com/statics/js/calendar/border-radius.css"/>
																<link rel="stylesheet" type="text/css" href="http://www.93636.com/statics/js/calendar/win2k.css"/>
																<script type="text/javascript" src="http://www.93636.com/statics/js/calendar/calendar.js"></script>
																<script type="text/javascript" src="http://www.93636.com/statics/js/calendar/lang/en.js"></script>
																<td><input type="text" name="info[inputtime]" id="inputtime" value="{$info[inputtime]}" size="50" class="date" readonly>&nbsp;</td>
																<script type="text/javascript">
																Calendar.setup({
																weekNumbers: true,
																inputField : "inputtime",
																trigger    : "inputtime",
																dateFormat: "%Y-%m-%d",
																showTime: false,
																minuteStep: 1,
																onSelect   : function() {this.hide();}
																});
																</script> 
																</tr>
                                                           
                                                                <tr>
                                                                <th width="80">文章摘要</th>
                                                                <td>
                                                                    <textarea id="description" name="info[description]" id="description" style="width:98%;height:90px;"  onkeyup="strlen_verify(this, 'description_len', 255)">{$info[description]}</textarea>
                                                                    <br/>还可输入<b><span id="description_len">255</span></b> 个字符
                                                                </td>
                                                                 </tr>


                                                                <tr>
                                                                    <th width="80"> 类别	  </th>
                                                                    <td>
                                                                        <select name="info[catid]" id="catid"  style="width:200px;">
                                                                            <option value="" selected="">≡请选择≡</option>
                                                                            <option value="29">游戏评测</option>
                                                                            <option value="30">游戏资讯</option>
																			<option value="27">产业新闻</option>
                                                                        </select>  
                                                                    </td>
                                                                </tr>
																<tr>
                                                                    <th width="80"> 推荐图上传	  </th>
                                                                    <td><div class="upload-pic img-wrap">
																	
                                                                           
																				{if $info['nopicture']==""}<img src="http://www.93636.com/statics/images/icon/upload-pic.png" id="image_show_list" width="135" height="113" style="cursor:hand">{else}
																				<img src="{$info['nopicture']}" id="image_show_list" width="135" height="113" style="cursor:hand">{/if}
																				</div>
																				</td>
                                                                </tr>
																
																<tr>
                                                                    <th width="80"> 推荐图上传	  </th>
                                                                    <td>
																	
																<input type="file" name="nopicture" id="file" /> 
                                                                    
																	<!--<span style="color:#666;font-weight: 700;margin-left: 10px">(建议最大尺寸750*370)</span>-->
																	</td>
                                                                </tr>
																
                                                                <tr>
                                                                    <th width="80"> 缩略图	  </th>
                                                                    <td><div class="upload-pic img-wrap">
																	
                                                                           
																				{if $info['thumb']==""}<img src="http://www.93636.com/statics/images/icon/upload-pic.png" id="image_show_list" width="135" height="113" style="cursor:hand">{else}
																				<img src="{$info['thumb']}" id="image_show_list" width="135" height="113" style="cursor:hand">{/if}
																				</div>
																				</td>
                                                                </tr>
																
																<tr>
                                                                    <th width="80"> 缩略图	  </th>
                                                                    <td>
																	<!--<input type="file"  name="file" value="" class="btn btn-primary"/>-->
																	<input type="file" name="file" id="file" /> 
                                                                    
																	<span style="color:#666;font-weight: 700;margin-left: 10px">(建议最大尺寸500*300)</span>
																	</td>
                                                                </tr>
                                                            <tr>
                                                                <th width="80"> <font color="red">*</font>文章内容</th>
                                                                <td><div id='content_tip'></div><textarea name="info[content]" id="content" boxid="content">{$info['content']}</textarea>
                                                                    <script type="text/javascript" src="http://www.93636.com/statics/js/ckeditor/ckeditor.js"></script>
                                                                    <script type="text/javascript">
                                                                    CKEDITOR.replace( 'content',{height:300,pages:true,subtitle:true,textareaid:'content',module:'content',catid:'2',
                                                                        flashupload:true,alowuploadexts:'',allowbrowser:'1',allowuploadnum:'10',authkey:'8d4831984ecea4f7902feaa4dbbd4e1a',
                                                                        filebrowserUploadUrl : 'index.php?m=attachment&c=attachments_2&a=upload&module=content&catid=2&dosubmit=1',
                                                                        toolbar :
                                                                                [
                                                                                    ['Source','-','Templates'],
                                                                                    ['Cut','Copy','Paste','PasteText','PasteFromWord','-','Print'],
                                                                                    ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],['ShowBlocks'],['Image','Capture','Flash','MyVideo'],['Maximize'],
                                                                                    '/',
                                                                                    ['Bold','Italic','Underline','Strike','-'],
                                                                                    ['Subscript','Superscript','-'],
                                                                                    ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'],
                                                                                    ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                                                                    ['Link','Unlink','Anchor'],
                                                                                    ['Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
                                                                                    '/',
                                                                                    ['Styles','Format','Font','FontSize'],
                                                                                    ['TextColor','BGColor'],
                                                                                    ['attachment'],
                                                                                ]
                                                                    });
                                                                </script>
                                                                </td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions noborder margin-top-30">
                                       <input type="submit" class="btn blue" name='sub' onclick="return check()" id="sub" type_id="{$static}" value='发布'>
                                        <button type="button" class="btn blue" id="rest">重置</button>
                                    </div>
                                </form>
								
                            </div>
                        </div>
                    </div>
                    <!-- 设置选项 end -->		
                </div>
            </div>
            <!-- 右侧内容 end -->

        </div>
        <!-- 正文内容 end -->

        {template "business","footer"}

    </body>
	
<script>
$(function(){
$("select").val("{$info['catid']}");
});

function check(){
  if($("#title").val()==""){
  alert("文章标题不能为空！");
  $("#title").focus();
  return false;
  }
  if($("#inputtime").val()==""){
  alert("发布时间不能为空！");
  $("#inputtime").focus();
  return false;
  }
  if($("#catid").val()==""){
  alert("文章类别不能为空！");
  $("#catid").focus();
  return false;
  }
  var type_id=$("#sub").attr("type_id");
  if(type_id=="1"){
  return false;
  }
  $("#sub").attr("type_id","1");
  }

</script>
</html>