<!-- 头部 -->
        <div class="page-header navbar navbar-fixed-top">

            <div class="page-header-inner">
                <!-- LOGO -->
                <div class="page-logo">
                    <a href="index.html"><img src="http://www.93636.com/statics/assets/admin/layout/img/logo.png" class="logo-default"/></a>
                    <div class="menu-toggler sidebar-toggler show"></div>
                </div>
                <!-- LOGO end -->

                <!-- mobile左侧菜单按钮 -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                </a>
                <!-- mobile左侧菜单按钮 end -->
				<!--
                <form class="search-form" action="#" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="文章搜索" name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </form>
				-->
                <!-- 头部菜单 -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">              
                        <li class="dropdown">
                            <a href="http://www.93636.com/"  target="_blank" class="dropdown-toggle">
                                <i class="icon-home"></i>
                            </a>
                        </li>   
						<!--
                        <li class="dropdown">
                            <a href="index.html" class="dropdown-toggle">
                                <i class="icon-bubble"></i>
                                <span class="badge badge-default">7</span>
                            </a>
                        </li>                   
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-bell"></i>
                                <span class="badge badge-default">4</span>
                            </a>                  
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-settings"></i>            
                            </a>
                        </li>
						-->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="http://www.93636.com/statics/assets/admin/layout/img/avatar3_small.jpg"/>
                                <span class="username username-hide-on-mobile">{$username}</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <!--<li>
                                    <a href="extra_profile.html">
                                        <i class="icon-user"></i> 个人中心 </a>
                                </li>
                                <li>
                                    <a href="extra_profile.html">
                                        <i class="icon-speech"></i> 消息中心 </a>
                                </li> 
                                <li class="divider"></li>
								-->
                                <li>
                                    <a href="http://www.93636.com/index.php?m=business&c=index&a=login_out">
                                        <i class="icon-logout"></i> 退出 </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- 头部菜单 end -->
            </div>

        </div>
        <!-- 头部 end -->