<!-- 左侧导航 -->
            <div class="page-sidebar-wrapper">		
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="sidebar-user">
                            <img src="http://www.93636.com/statics/assets/admin/layout/img/photo1.jpg">
                            <h2>{$username} 您好</h2>
                            <p>欢迎登录管理平台</p>
                            <div class="clearfix"></div>
                        </li> 

                        <li class="start active open">
                            <a href="javascript:;">
                                <i class="icon-globe"></i>
                                <span class="title">内容管理</span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/index.php?m=business&c=index&a=init">内容列表</a>
                                </li>
                                <li class="active">
                                    <a href="/index.php?m=business&c=index&a=add_content">发布内容</a>
                                </li>
								<!--
                                <li>
                                    <a href="MDM1.3敏感词设置.html">敏感词设置</a>
                                </li>
								-->
                            </ul>
                        </li>
						<!--

                        <li>
                            <a href="javascript:;">
                                <i class="icon-book-open"></i>
                                <span class="title">思想建设</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="MDM2.1短信群发.html">短信群发</a>
                                </li>
                                <li>
                                    <a href="MDM2.2短文群发.html">短文群发</a>
                                </li>
                                <li>
                                    <a href="MDM2.3上网痕迹监控.html">上网痕迹监控</a>
                                </li> 
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;">
                                <i class="icon-key"></i>
                                <span class="title">泄密管控</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="MDM3.1手机号码黑名单.html">手机号码黑名单</a>
                                </li>
                                <li>
                                    <a href="MDM3.2异常文件扫描.html">异常文件扫描</a>
                                </li>
                                <li>
                                    <a href="MDM3.3应用限制.html">应用限制</a>
                                </li>
                                <li>
                                    <a href="MDM3.4违规预警.html">违规预警</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;">
                                <i class="icon-screen-smartphone"></i>
                                <span class="title">设备管控</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="MDM4.1设备管控.html">设备管控</a>
                                </li>
                                <li>
                                    <a href="MDM4.2设备登记">设备登记</a>
                                </li>
                                <li>
                                    <a href="MDM4.3控制策略.html">控制策略</a>
                                </li>
                                <li>
                                    <a href="MDM4.4策略方案.html">策略方案</a>
                                </li>
                                <li>
                                    <a href="MDM4.5受控群管理.html">受控群管理</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;">
                                <i class="icon-grid"></i>
                                <span class="title">应用管理</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="MDM5.1内部应用管理.html">内部应用管理</a>
                                </li>
                                <li>
                                    <a href="MDM5.2应用类别管理.html">应用类别管理</a>
                                </li>
                                <li>
                                    <a href="MDM5.3终端应用管理.html">终端应用管理</a>
                                </li>
                            </ul>
                        </li>



                        <li>
                            <a href="javascript:;">
                                <i class="icon-users"></i>
                                <span class="title">用户管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="MDM7.1用户管理.html">用户管理</a>
                                </li>
                                <li>
                                    <a href="MDM7.2组织管理.html">组织管理</a>
                                </li>
                                <li>
                                    <a href="MDM7.3职务管理.html">职务管理</a>
                                </li>
                                <li>
                                    <a href="MDM7.4地市管理.html">地市管理</a>
                                </li>
                                <li>
                                    <a href="MDM7.5管理角色.html">管理角色</a>
                                </li>
                            </ul>
                        </li>
-->

                    </ul>
                </div>
            </div>
            <!-- 左侧导航 end -->