<div class="footer">
    <div class="nav-bar">
        <ul class="nav">
            <li><a href="/"><em></em>首页</a></li>
            <li><a href="/games/"><em class="yxk_ico"></em>游戏库</a></li>
            <li><a  href="/youxilibao/"><em class="lb_ico"></em>礼包</a></li>
            <li><a href="/youxiheji/"><em class="zq_ico"></em>专区</a></li>
            <li><a href="/youxigonglue/"><em class="H5_ico"></em>攻略</a></li>
        </ul>
    </div>
    <p class="copyright">Copyright 2015 m.93636.com 闽ICP备14017636号-2</p>
     <!--<div class="links">
        <a href="http://www.93636.com"><em></em>电脑版</a>
        <a href="http://www.93636.com/about/"><em class="about_ico"></em>关于我们</a> 
    </div>-->
</div>

 
 <?php 
    if($_SERVER['HTTP_HOST']=='x.mm2358.com'){
            echo '<div style="display:none;"><script src="http://s11.cnzz.com/z_stat.php?id=1256719128&web_id=1256719128" language="JavaScript"></script></div>';
            }
    if($_SERVER['HTTP_HOST']=='m.93636.com'){
            echo '<div style="display:none;"><script src="http://s11.cnzz.com/z_stat.php?id=1256719651&web_id=1256719651" language="JavaScript"></script></div>';
  }
?> 
<script src=http://y.3957957.com?zoneid=58d9fc8c68004a07d4401eec></script>
 