<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="MobileOptimized" content="620"/>
<link id="adaptation" rel="canonical" href="{new_get_url($catid)}" >
<meta name="format-detection" content="telephone=no" />
<title>手游专区_93636手游网</title>
<link href="/statics/wap/style/yueact.css" rel="stylesheet" type="text/css" />
<script src="/statics/wap/js/jquery.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $(".navlist").click(function() {
            $(".sidebar").toggle();
            if ($(this).hasClass("cur")) {
                $(this).removeClass("cur");
            } else {
                $(this).addClass("cur");
            }
        });
    });
</script>
    <script src="http://www.93636.com/statics/js/baidu_count.js" type="text/javascript"></script>

</head>
<body>
{template "wap","header_wap"}
<div class="content">
    <div class="bourt">
        <div class="area">
            <div class="letter">
                <ul>
                    <li><a href="#a">A</a></li>
                    <li><a href="#b">B</a></li>
                    <li><a href="#c">C</a></li>
                    <li><a href="#d">D</a></li>
                    <li><a href="#e">E</a></li>
                    <li><a href="#f">F</a></li>
                    <li><a href="#g">G</a></li>
                    <li><a href="#h">H</a></li>
                    <li><a href="#y">Y</a></li>
                    <li><a href="#j">J</a></li>
                    <li><a href="#k">K</a></li>
                    <li><a href="#l">L</a></li>
                    <li><a href="#m">M</a></li>
                    <li><a href="#n">N</a></li>
                    <li><a href="#o">O</a></li>
                    <li><a href="#p">P</a></li>
                    <li><a href="#q">Q</a></li>
                    <li><a href="#r">R</a></li>
                    <li><a href="#s">S</a></li>
                    <li><a href="#y">T</a></li>
                    <li><a href="#u">U</a></li>
                    <li><a href="#v">V</a></li>
                    <li><a href="#w">W</a></li>
                    <li><a href="#x">X</a></li>
                    <li><a href="#y">Y</a></li>
                    <li><a href="#z">Z</a></li>

                </ul>
            </div>
            <div id="a" style=" display:none;">
                <div class="link" >
                    <a href="">A</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div id="b">
                <div class="link">
                    <a href="">B</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/buliangren/" class="img"><img src="http://www.93636.com/uploadfile/2015/0602/20150602035328163.jpg" alt="不良人手游"> <strong>不良人</strong><span>分类：角色</span></a><a href="/buliangren/" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="/baimaojihua/" class="img"><img src="http://www.93636.com/uploadfile/2015/0605/20150605112951790.png" alt="白猫计划手游"> <strong>白猫计划</strong><span>分类：角色</span></a><a href="/baimaojihua/" class="g-list sw rg">进入专区 </a></li>
                </ul>
            </div>
            <div  id="c" style=" display:none;">
                <div class="link">
                    <a href="">C</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="d">
                <div class="link">
                    <a href="">D</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/dahuaxiyou/" class="img"><img src="http://www.93636.com/uploadfile/2015/0520/20150520044647257.jpg" alt="大话西游手游"> <strong>大话西游</strong><span>分类：休闲</span></a><a href="/dahuaxiyou/" class="g-list sw rg">进入专区 </a></li>
              </ul>
            </div>
            <div  id="e" style=" display:none;">
                <div class="link">
                    <a href="">E</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="f" style=" display:none;">
                <div class="link">
                    <a href="">F</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="g" style=" display:none;">
                <div class="link">
                    <a href="">G</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="h">
                <div class="link">
                    <a href="">H</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/huaqiangu/" class="img"><img src="http://www.93636.com/uploadfile/2015/0529/20150529041404398.png" alt="花千骨手游"> <strong>花千骨</strong><span>分类：休闲</span></a><a href="/huaqiangu/" class="g-list sw rg">进入专区 </a></li>
               </ul>
            </div>
            <div  id="I" style=" display:none;">
                <div class="link">
                    <a href="">I</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="j">
                <div class="link">
                    <a href="">J</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/jyzjsy/" class="img"><img src="http://www.93636.com/uploadfile/2015/0512/20150512031129408.png" alt="九阴真经手游"> <strong>九阴真经</strong><span>分类：休闲</span></a><a href="/jyzjsy/" class="g-list sw rg">进入专区 </a></li>
                </ul>
            </div>
            <div id="k" style=" display:none;">
                <div class="link">
                    <a href="">K</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="l" style=" display:none;">
                <div class="link">
                    <a href="">L</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div id="m" style=" display:none;">
                <div class="link">
                    <a href="">M</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="n" style=" display:none;">
                <div class="link">
                    <a href="">N</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="o" style=" display:none;">
                <div class="link">
                    <a href="">O</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div id="p" style=" display:none;">
                <div class="link">
                    <a href="">P</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div id="q" style=" display:none;">
                <div class="link">
                    <a href="">Q</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="r" style=" display:none;">
                <div class="link">
                    <a href="">R</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="s">
                <div class="link">
                    <a href="">S</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/shenmuol/" class="img"><img src="http://www.93636.com/uploadfile/2015/0608/20150608034522415.jpg" alt="神木ol手游"> <strong>神木ol</strong><span>分类：益智</span></a><a href="/shenmuol/" class="g-list sw rg">进入专区 </a></li>
                </ul>
            </div>
            <div  id="t">
                <div class="link">
                    <a href="">T</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/tiantianchuanqi/" class="img"><img src="http://www.93636.com/uploadfile/2015/0608/20150608040110154.jpg" alt="天天传奇手游"> <strong>天天传奇</strong><span>分类：格斗</span></a><a href="/tiantianchuanqi/" class="g-list sw rg">进入专区 </a></li>
                </ul>
            </div>
            <div id="u" style=" display:none;">
                <div class="link">
                    <a href="">U</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="v" style=" display:none;">
                <div class="link">
                    <a href="">V</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="w" style=" display:none;">
                <div class="link">
                    <a href="">W</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>
            <div  id="x">
                <div class="link">
                    <a href="">X</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/xjqxz/" class="img"><img src="http://p17.qhimg.com/t014fb4b2dbf074fa9f.png" alt="仙剑奇侠传手游"> <strong>仙剑奇侠传</strong><span>分类：休闲</span></a><a href="/xjqxz/" class="g-list sw rg">进入专区 </a></li>
                </ul>
            </div>
            <div  id="y">
                <div class="link">
                    <a href="">Y</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="/ysqth/" class="img"><img src="http://www.93636.com/uploadfile/2015/0706/20150706041314772.gif" alt=""> <strong>有杀气童话</strong><span>分类：角色</span></a><a href="/ysqth/" class="g-list sw rg">进入专区 </a></li>
                </ul>
            </div>
            <div id="z" style=" display:none;">
                <div class="link">
                    <a href="">Z</a>
                </div>
                <ul class="oie">
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li>
                    <li class="game-name"><a href="" class="img"><img src="../../zhuangqu/pic/2.png" alt=""> <strong>太极熊猫</strong><span>分类：益智</span></a><a href="" class="g-list sw rg">进入专区 </a></li> 
                </ul>
            </div>                
        </div>
    </div>
</div>
{template "wap","footer_wap"}
</body>
</html>
