{template "content","header"}
{template "content","header2"}
		
	<div class="gywm">
		<div class="contact_left">
			<a href="/about/">关于我们</a>
			<a href="/statement/">免责声明</a>
			<a href="/contact/">联系我们</a>
			<a href="/ruanwen/" class="on">软文投稿</a>
			<a href="/hezuo/">商务合作</a>
			<a href="/sitemap/">网站地图</a>
		</div><!--contact_left-->
		
  

		<div class="contact_right ">
             <h3 class="contact_p1">软文投稿</h3>
             <p class="contact_p2">
				&#12288;&#12288;各位游戏开发商、运营商、代理商你们好，为了给大家提供一个发布软文宣传你们的新游戏的机会，<span>93636</span>手游网提供了一个软文展示平台，供大家发布、宣传新游戏。
				<br>&#12288;&#12288;投稿注意事项：
				<br>&#12288;&#12288;1、文章必须是有实际性内容、有阅读性的原创作品。
				<br>&#12288;&#12288;2、文章段落清晰，层次分明。
				<br>&#12288;&#12288;3、软文里面不能出现链接、超链接。
				<br>&#12288;&#12288;4、带有图片的文章，图片必须清晰，并且将图片和文章一起打包发给我们。
				<br>&#12288;&#12288;5、文章投稿的标题格式：“软文-公司名-游戏名-文章名字”如果不按照格式书写，我们将不给予收录、展示。
				<br>&#12288;&#12288;6、投稿邮箱：3185481324@qq.com
      		 </p>
	   </div><!--右边-->	
		
	</div><!--gywm关于我们-->	
	{template "content","footer"}
</body>
</html>