{template "content","header"}

{template "content","header2"}

<div class="main">
    <div id="tab" >
            <div class="tabList">
                <ul class="zone-title">
                    <h2 class="title-span">93636网游专区导航</h2>
                    <li class="title-two cur w_li">A B C D E F G</li>
                    <li class="title-tree w_li">H I J K L M N</li>
                    <li class="title-four w_li">O P Q R S T</li>
                    <li class="title-five w_li">U V W X Y Z</li>
                </ul>
            </div>
            <div class="tabCon">
                <div class="cur">
                    <ul class="mod_categroy mod-set2"> 
						<li> 
                            <label class="t">A：</label>
                            <a target="_blank" href="/games/249.html">傲世三国</a> 
                            <a target="_blank" href="/games/1.html">暗黑黎明</a> 
                        </li> 
                        <li> 
                            <label class="t">B：</label>
                            <a target="_blank" href="/games/249.html">暴走武侠</a> 
                        </li> 
                        <li> 
                            <label class="t">C：</label>
                                <a target="_blank" href="/games/314.html">参见主公</a> 
                                <a target="_blank" href="/games/301.html">传世三国</a> 
                                <a target="_blank" href="/games/289.html">超凡特工</a> 
                                <a target="_blank" href="/games/106.html">超级经纪人</a> 
                        </li> 
                        <li> 
                            <label class="t">D：</label>
                                <a target="_blank" href="/games/267.html">刀塔帝国</a> 
                                <a target="_blank" href="/games/267.html">刀塔女神</a> 
                                <a target="_blank" href="/games/350.html">大海贼时代</a> 
                        </li> 
						<li> 
                            <label class="t">E：</label>
                            <a target="_blank" href="/games/5.html">二战风云</a> 
                        </li> 
                        <li> 
                            <label class="t">F：</label>
                            <a target="_blank" href="/games/260.html">放开那三国</a> 
                            <a target="_blank" href="/games/78.html">反恐精英CMSWAT</a> 
                        </li> 
                        <li> 
                            <label class="t">G：</label>
                            <a target="_blank" href="/games/170.html">格斗之皇</a> 
                            <a target="_blank" href="/games/332.html">格斗江湖</a> 
                            <a target="_blank" href="/games/104.html">格斗宝贝</a> 
                            <a target="_blank" href="/games/143.html">攻城掠地</a> 
                        </li> 
                    </ul>
                </div>
                <div>
                    <ul class="mod_categroy mod-set3"> 
                        <li> 
                            <label class="t">H：</label>
                            <a target="_blank" href="/games/590.html">火影传说</a> 
                            <a target="_blank" href="/games/253.html">幻仙</a> 
                            <a target="_blank" href="/games/378.html">黑暗光年</a> 
                            <a target="_blank" href="/games/265.html">暗黑之光</a> 
                        </li> 
                        <li> 
                            <label class="t">I：</label>
                         </li> 
                        <li> 
                            <label class="t">J：</label>
                            <a target="_blank" href="/games/594.html">剑魂之刃安卓版</a> 
                            <a target="_blank" href="/games/530.html">决战沙城越狱版</a> 
                            <a target="_blank" href="/games/386.html">疾风之刃内购破解版</a> 
                            <a target="_blank" href="/games/276.html">九戒之王</a> 
                        </li> 
                        <li> 
                            <label class="t">K：</label>
                            <a target="_blank" href="/games/294.html">卡牌战国</a> 
                            <a target="_blank" href="/games/264.html">口袋银魂</a> 
                            <a target="_blank" href="/games/250.html">酷酷爱魔兽</a> 
                            <a target="_blank" href="/games/223.html">口袋三国志</a> 
                        </li> 
                        <li> 
                            <label class="t">L：</label>
                            <a target="_blank" href="/games/262.html">烈焰遮天</a> 
                            <a target="_blank" href="/games/326.html">乱世江湖</a> 
                            <a target="_blank" href="/games/323.html">乱入三国</a> 
                         </li> 
                        <li> 
                            <label class="t">M：</label>
                            <a target="_blank" href="/games/454.html">萌娘餐厅</a> 
                            <a target="_blank" href="/games/347.html">梦想火影</a> 
                            <a target="_blank" href="/games/266.html">萌三国</a> 
                            <a target="_blank" href="/games/255.html">莽荒纪</a> 
                        </li> 
                        <li> 
                            <label class="t">N：</label>
                            <a target="_blank" href="/games/306.html">女妖</a> 
                            <a target="_blank" href="/games/123.html">怒斩三国</a> 
                            <a target="_blank" href="/games/216.html">NBA梦之队</a> 
                            <a target="_blank" href="/games/179.html">女神的斗士</a> 
                        </li> 
                    </ul>
                </div>
                
                <div>
                    <ul class="mod_categroy mod-set4"> 
                        <li> 
                            <label class="t">O：</label>
                        </li> 
                        <li> 
                            <label class="t">P：</label>
                            <a target="_blank" href="/games/165.html">啪啪三国</a> 
                        </li> 
                        <li> 
                            <label class="t">Q：</label>
                            <a target="_blank" href="/games/567.html">全民超市</a> 
                            <a target="_blank" href="/games/565.html">全球突击</a> 
                            <a target="_blank" href="/games/366.html">酋长萨尔/a> 
                            <a target="_blank" href="/games/338.html">全民奇迹</a> 
                         </li> 
                        <li> 
                            <label class="t">R：</label>
                            <a target="_blank" href="/games/328.html">人人秀舞</a> 
                            <a target="_blank" href="/games/319.html">忍者Q传</a> 
                            <a target="_blank" href="/games/199.html">热血帝王</a> 
                            <a target="_blank" href="/games/184.html">人在仙途</a> 
                        </li> 
                        <li> 
                            <label class="t">S：</label>
                            <a target="_blank" href="/games/526.html">三国英雄</a> 
                            <a target="_blank" href="/games/372.html">三剑豪</a> 
                            <a target="_blank" href="/games/348.html">射雕群侠传</a> 
                            <a target="_blank" href="/games/320.html">神魔大乱斗</a> 
                        </li> 
                        <li> 
                            <label class="t">T：</label>
                            <a target="_blank" href="/games/581.html">统治帝国</a> 
                            <a target="_blank" href="/games/355.html">TOUCH舞动全城</a> 
                            <a target="_blank" href="/games/331.html">天天玩三国</a> 
                            <a target="_blank" href="/games/235.html">天天英雄</a> 
                        </li> 
                    </ul>
                </div>
                
                <div>
                    <ul class="mod_categroy mod-set5"> 
                        <li> 
                            <label class="t">U：</label>
                          </li> 
                        <li> 
                            <label class="t">V：</label>
                         </li> 
                        <li> 
                            <label class="t">W：</label>
                            <a target="_blank" href="/games/560.html">我的世界</a> 
                            <a target="_blank" href="/games/171.html">武尊</a> 
                            <a target="_blank" href="/games/353.html">我是死神</a> 
                            <a target="_blank" href="/games/352.html">我叫火影</a> 
                       </li> 
                        <li> 
                            <label class="t">X：</label>
                            <a target="_blank" href="/games/174.html">轩辕争霸</a> 
                            <a target="_blank" href="/games/527.html">小小忍者</a> 
                            <a target="_blank" href="/games/365.html">笑傲江湖</a> 
                            <a target="_blank" href="/games/344.html">西游封神录</a> 
                        </li> 
                        <li> 
                            <label class="t">Y：</label>
                            <a target="_blank" href="/games/204.html">永生门</a> 
                            <a target="_blank" href="/games/307.html">一代宗师HD</a> 
                            <a target="_blank" href="/games/278.html">影之刃</a> 
                            <a target="_blank" href="/games/178.html">妖姬OL</a> 
                        </li> 
                        <li> 
                            <label class="t">Z：</label>
                            <a target="_blank" href="/games/379.html">征途</a> 
                            <a target="_blank" href="/games/368.html">主公莫慌</a> 
                            <a target="_blank" href="/games/321.html">众将听令</a> 
                            <a target="_blank" href="/games/290.html">掌三国</a> 
                        </li> 
                    </ul>
                </div>
            </div>
    </div>
</div>

{template "content","footer"}	
</body>
</html>