{template "content","header"}
{template "content","header2"}
	
	
	<div class="gywm">
		<div class="contact_left">
			<a href="/about/">关于我们</a>
			<a href="/statement/" class="on">免责声明</a>
			<a href="/contact/">联系我们</a>
			<a href="/hezuo/">商务合作</a>
			<a href="/sitemap/">网站地图</a>
		</div><!--contact_left-->
		
		<div class="contact_right ">
             <p class="contact_p1">免责声明</p>
         	 <p class="contact_p2">
				 &#12288;&#12288; 本网站有提供很多资源让玩家下载，但是有些资源可能是受版权保护的，我们并未授权您将这些资源用于其它任何用途。所有，玩家要有需要修改本站所提供的资源，我们建议您先与原作者联系并征求同意。

				 <br/>&#12288;&#12288;<span>93636</span>手游网仅为用户或开发者提供上传分享服务，<span>93636</span>手游网对其发布的应用不会做任何修改或编辑。<span>93636</span>手游网相关应用市场上的应用及相关资料均由用户在上传时填写和上传。<span>93636</span>手游网仅可能会对其文字内容在尊重原意的前提下进行编辑。
				 <br/>&#12288;&#12288;<span>93636</span>手游网一贯高度重视知识产权保护并遵守中华人民共和国各项知识产权法律、法规和具有约束力的规范性文件。本网站坚决反对任何违反中华人民共和国有关著作权的法律法规的行为。由于我们无法对用户上传到本网站的所有信息进行充分的监测，我们制定了旨在保护知识产权权利人合法权益的措施和步骤，当著作权人和/或依法可以行使信息网络传播权的权利人(以下简称“权利人”)发现<span>93636</span>手游网上用户上传内容侵犯其信息网络传播权时，权利人应事先向手游网发出权利通知，<span>93636</span>手游网将根据相关法律规定采取措施删除或修改相关内容。
				 <br/>具体措施和步骤如下：
				 <br/>&#12288;&#12288;如果您是某应用的著作权人和/或依法可以行使信息网络传播权的权利人，且您认为<span>93636</span>手游网上的内容侵犯了您对该等作品的信息网络传播权，请您务必书面通知或联系本公司，您应对书面通知陈述之真实性负责。
				 <br/>&#12288;&#12288;为方便本公司及时处理您的意见，请先准备以下内容：
				 <br/>&#12288;&#12288;--您的名称(姓名)、联系方式及地址；
				 <br/>&#12288;&#12288;--要求删除的应用的名称和在本网站的地址；
				 <br/>&#12288;&#12288;--构成侵权地初步证明材料，谨此提示以下材料可能构成初步证明：
				 <br/>&#12288;&#12288;对于涉嫌侵权作品拥有著作权或依法可以行使信息网络传播权的权属证明；
				 <br/>&#12288;&#12288;对涉嫌侵权作品侵权事实的举证。
				 <br/>&#12288;&#12288;QQ联系：3185481324
				 <br/>
				 <br/>&#12288;&#12288;我们会认真协助您处理相关事宜，我们期待与您携手开拓广阔的移动互联网市场。
      		 </p>
	   </div><!--右边-->
	  
	</div><!--gywm关于我们-->
	
	{template "content","footer"}
</body>
</html>