{template "content","header"}
{template "content","header2"}
	
	
	<div class="gywm">
		<div class="contact_left">
			<a href="/about/">关于我们</a>
			<a href="/statement/">免责声明</a>
			<a href="/contact/" class="on">联系我们</a>
			<a href="/hezuo/">商务合作</a>
			<a href="/sitemap/">网站地图</a>
		</div><!--contact_left-->
		
  

		<div class="contact_right ">
             <h3 class="contact_p1">联系我们</h3>
             <p class="contact_p2">
				&#12288;&#12288;请通过以下方式与我们联系：
				<br>&#12288;&#12288;<span>93636</span>邮编：361000
				<br>&#12288;&#12288;地址：厦门市思明区软件园二期望海路16号

				 </p>
	   </div><!--右边-->	
		
	</div><!--gywm关于我们-->	
	{template "content","footer"}
</body>
</html>