{template "content","header"}
{template "content","header2"}
		
	<div class="gywm">
		<div class="contact_left">
			<a href="/about/" class="on">关于我们</a>
			<a href="/statement/">免责声明</a>
			<a href="/contact/">联系我们</a>
			<a href="/hezuo/">商务合作</a>
			<a href="/sitemap/">网站地图</a>
		</div><!--contact_left-->
		
		<div class="contact_right ">
             <h3 class="contact_p1">关于我们</h3>
             <p class="contact_p2">
				&#12288;&#12288; <span>93636</span>手游网（<a target="_blank" href="http://www.93636.com">http://www.93636.com</a>）隶属于厦门多帆网络科技有限公司,是一家专注于手机游戏行业的综合性游戏门户站点。<span>93636</span>手游网为广大玩家提供最新、及时的游戏资讯，最全的手机游戏攻略。基于智能手机平台的游戏下载，交流，为手游爱好者提供全方位的移动游戏服务。

				<br>&#12288;&#12288; <span>93636</span>手游网是国内专业的移动端游戏平台媒体，站点内容覆盖IOS、Android、移动设备平台，为玩家提供苹果、Android 平台游戏资讯、评测、攻略、下载以及游戏礼包发放，重视并鼓励玩家对游戏进行探讨和原创，营造出健康纯粹的智能手机游戏玩家交流氛围。
				
				<br>&#12288;&#12288;未来期待更多的朋友加入我们，与我们共同前进。
      		 </p>
	   </div><!--右边-->
    </script>	
	</div><!--gywm关于我们-->
	<div class="footer">
    {template "content","foot"}
</div>
</body>
</html>
