{template "content","header"}
{template "content","header2"}
		
	<div class="gywm">
		<div class="contact_left">
			<a href="/about/">关于我们</a>
			<a href="/statement/">免责声明</a>
			<a href="/contact/">联系我们</a>
			<a href="/hezuo/" class="on">商务合作</a>
			<a href="/sitemap/">网站地图</a>
		</div><!--contact_left-->
		
  

		<div class="contact_right ">
             <h3 class="contact_p1">商务合作</h3>
            <p class="contact_p2">
				1、新闻发布、游戏收录、礼包发号、友链互换、软文互发
				<br>QQ:1432926978  QQ:3185481324
				<br>2、广告投放、展会合作、品牌合作
				<br>QQ:2066221612 
				<br>3、商务合作
				<br>QQ:1179460747
      		 </p>
	   </div><!--右边-->		
	</div><!--gywm关于我们-->	
	{template "content","footer"}
</body>
</html>