{template "content","header"}
{template "content","header2"}
		
	<div class="gywm">
		<div class="contact_left">
			<a href="/about/">关于我们</a>
			<a href="/statement/">免责声明</a>
			<a href="/contact/">联系我们</a>
			<a href="/hezuo/">商务合作</a>
			<a href="/sitemap/" class="on">网站地图</a>
		</div><!--contact_left-->
  

		<div class="contact_right">
             <h3 class="contact_p1">网站地图</h3>
             <div class="contact_p2" >
				<ul>
					<li>
						<h3 class="mjzy"><a target="_blank" href="/games/">游戏宝库</a></h3>
						<div class="zypd">
							<a target="_blank" title="射击游戏" href="/games/catid_32_network_9_plate_9/">射击游戏</a>
							<a target="_blank" title="休闲益智" href="/games/catid_33_network_9_plate_9/">休闲益智</a>
							<a target="_blank" title="体育竞技" href="/games/catid_34_network_9_plate_9/">体育竞技</a>
							<a target="_blank" title="角色扮演" href="/games/catid_35_network_9_plate_9/">角色扮演</a>
							<a target="_blank" title="模拟经营" href="/games/catid_36_network_9_plate_9/">模拟经营</a>
							<a target="_blank" title="策略游戏" href="/games/catid_37_network_9_plate_9/">策略游戏</a>
							<a target="_blank" title="动作游戏" href="/games/catid_38_network_9_plate_9/">动作游戏</a>
							<a target="_blank" title="赛车竞速" href="/games/catid_39_network_9_plate_9/">赛车竞速</a>
							<a target="_blank" title="格斗游戏" href="/games/catid_41_network_9_plate_9/">格斗游戏</a>
							<a target="_blank" title="棋牌游戏" href="/games/catid_42_network_9_plate_9/">棋牌游戏</a>
        				</div>
					</li>
                        <li>
                            <h3 class="mjzy">资讯</h3>
						    <div class="zypd">
							<a target="_blank" title="游戏攻略" href="/youxigonglue/">游戏攻略</a>
							<a target="_blank" title="游戏测评" href="/youxipingce/">游戏测评</a>
							<a target="_blank" title="游戏资讯" href="/youxizixun/">游戏资讯</a>
							<a target="_blank" title="活动礼包" href="/youxilibao/">活动礼包</a>
							<a target="_blank" title="产业新闻" href="/chanyenews/">产业新闻</a>							
        				</div>
					</li>
					<li>
						<h3 class="mjzy"><a target="_blank" href="/video/">游戏视频</a></h3>
						<div class="zypd">
							<a target="_blank" title="攻略视频" href="/video/glvideo/">攻略视频</a>
							<a target="_blank" title="评测视频" href="/video/pcvideo/">评测视频</a>
							<a target="_blank" title="宣传视频" href="/video/xcvideo/">宣传视频</a>
        				</div>
					</li>
					<li>
						<h3 class="mjzy"><a target="_blank" href="/yuletupian/">娱乐图片</a></h3>
						<div class="zypd">
							<a target="_blank" title="美女图片" href="/yuletupian/meinvtupian/">美女图片</a>
							<a target="_blank" title="游戏截图" href="/yuletupian/youxijietu/">游戏截图</a>
							<a target="_blank" title="游戏壁纸" href="/yuletupian/youxibizhi/">游戏壁纸</a>
							<a target="_blank" title="其他图片" href="/yuletupian/qitatupian/">其他图片</a>
        				</div>
					</li>
					<li>
						<h3 class="mjzy"><a target="_blank" href="/h5/">H5游戏</a></h3>
						<div class="zypd">
							<a target="_blank" title="休闲益智" href="/h5/h5xxyz/">休闲益智</a>
							<a target="_blank" title="角色扮演" href="/h5/h5jsby/">角色扮演</a>
							<a target="_blank" title="赛车游戏" href="/h5/h5scyx/">赛车游戏</a>
							<a target="_blank" title="策略游戏" href="/h5/h5clyx/">策略游戏</a>
							<a target="_blank" title="飞行游戏" href="/h5/h5fxsj/">飞行游戏</a>
        				</div>
					</li>
					<li>
						<h3 class="mjzy"><a target="_blank" href="/zhuanqu/">游戏专区</a></h3>
						<div class="zypd">
							<a target="_blank" title="大话西游" href="/dahuaxiyou/">大话西游</a>
							<a target="_blank" title="仙剑奇侠传online" href="/xjqxz/">仙剑奇侠传online</a>
							<a target="_blank" title="九阴真经手游" href="/jyzjsy/">九阴真经手游</a>
							<a target="_blank" title="白猫计划" href="/baimaojihua/">白猫计划</a>
							<a target="_blank" title="神墓ol" href="/shenmuol/">神墓ol</a>
							<a target="_blank" title="天天传奇" href="/tiantianchuanqi/">天天传奇</a>
							<a target="_blank" title="不良人" href="/buliangren/">不良人</a>
							<a target="_blank" title="huaqiangu" href="/huaqiangu/">花千骨</a>
        				</div>
					</li>
					<li>
						<h3 class="mjzy"><a target="_blank" href="/heji/">手游合集</a></h3>
						<div class="zypd">
							<a target="_blank" title="腾讯手游" href="/heji/tengxun/">腾讯手游</a>
							<a target="_blank" title="网易手游" href="/heji/wangyi/">网易手游</a>
							<a target="_blank" title="三国题材" href="/heji/sanguo/">三国题材</a>
							<a target="_blank" title="西游题材" href="/heji/xiyou/">西游题材</a>
							<a target="_blank" title="小说改编" href="/heji/xiaoshuo/">小说改编</a>
							<a target="_blank" title="回合制" href="/heji/huihezhi/">回合制</a>
        				</div>
					</li>
					<li>
						<h3 class="mjzy">其他频道</h3>
						<div class="zypd">
							<a target="_blank" title="安卓频道" href="/android/">安卓频道</a>
							<a target="_blank" title="苹果频道" href="/ios/">苹果频道</a>
        				</div>
					</li>
					<li>
						<h3 class="mjzy">其他页面</h3>
						<div class="zypd">
							<a target="_blank" title="关务我们" href="/about/">关于我们</a>
							<a target="_blank" title="免责说明" href="/statement/">免责说明</a>
							<a target="_blank" title="软文投稿" href="/contact/">软文投稿</a>
							<a target="_blank" title="联系我们" href="/ruanwen/">联系我们</a>
							<a target="_blank" title="商务合作" href="/hezuo/">商务合作</a>
        				</div>
					</li>
				</ul>
      		 </div><!--contact_p2-->
			 
	   </div ><!--contact_right -->	
		
	</div><!--gywm关于我们-->	
	{template "content","footer"}
</body>
</html>