{template "content","header"}
{template "content","header2"}

<div class="laction"><i></i>当前位置：<a href="/">首页</a> > 单个游戏</div>
	
<div class="main">
	<div class="y_box">
		<div class="img"><img src="{$bigtu}"></div>
		<ul class="z_box">
			<li class="title"><span>{$title}</span><a href="" class="lqlb">领取礼包</a></li>
			<li class="wgg_box"><span class="wgg">无广告</span> <span class="wxwl">不需要网络</span> <span class="aqsm">通过安全扫描</span></li>
			<li class="tag"><span>标&nbsp;签：</span> <a href="">flash</a> <a href="">武侠</a> <a href="">回合</a></li>
			<li class="hbhw">
				<p class="hw"><em>好玩(103)</em><span><i style="width:81%"></i></span>81%</p>
				<p class="bhw"><em>不好玩(20)</em><span><i style="width:30%"></i></span>30%</p>
			</li>
			<li class="yxlx">
				<span>类	别：{$type}</span> <span>版	  本：{$version}</span>
				<span>语	言：{$language}</span> <span>运营状态 :  {$state}</span>
				<span>收录时间 ：{date('Y-m-d',$updatetime)}</span> 
			</li>
		</ul>
		<div class="yxzx">
			<em ></em>
			<span>下载：<i>{$downloadtimes}</i>次</span>
			<a href="" class="iphone no"></a>
			<a href="" class="anzhuo"></a>
			<p><span>价钱：免费</span> <span>大小：{$size}</span>     
				<img src="">			</p>
		</div>
		<!--yxzx end-->
	</div><!--y_box end-->
	<div class="box">
		<div class="dgyx_left">
			<ul class="dgyx_tab_an">
				<li class="on"><span>基本信息</span></li>
				<li>新闻</li>
				<li>攻略</li>
				<li>评测</li>
			</ul>
			<div class="dgyx_con">
				<div class="dgyx_conlist on">
					<div class="perpen">{$content}</div><!--perpen end-->
					
					<div class="yxtp"><!--截图-->
						<ul class="bul">
							<li class="on">
								<div class="xnrlh">
									<a href="javascript:void(0)" class="lefton"><img src="images/left.jpg"></a>
									<div class="mypic">
										<ul class="ul" style="width: 1920px; display: block;">
											<li><a class="img"><img src="pic/3.jpg"></a></li>
											<li><a class="img"><img src="pic/1.jpg"></a></li>
											<li><a class="img"><img src="pic/2.jpg"></a></li>
											<li><a class="img"><img src="pic/1.jpg"></a></li>									
										</ul>
										<ul class="smpic">
											<li class=""></li>
											<li></li>
											<li></li>
											<li></li>
										</ul>
									</div>
									<a href="javascript:void(0)" class="righton"><img src="images/rig.jpg"></a>
								</div>
							</li>
						</ul>
					</div><!--yxtp 截图 end-->
					
					<dl class="dgyx_xw"><!--新闻 攻略 测评-->
						<dt><h2>新闻</h2> <a href="">全部</a></dt>
						<dd>
							<ul>
								<li><a href="">将神三国手游群雄角色解析</a> <span>2015-04-01</span></li>
								<li><a href="">将神三国手游群雄角色解析</a> <span>2015-04-01</span></li>
							</ul>
						</dd>
					</dl><!--dgyx_xw end-->
					<dl class="dgyx_xw">
						<dt><h2>攻略</h2> <a href="">全部</a></dt>
						<dd>
							<ul>
								<li><a href="">将神三国手游群雄角色解析</a> <span>2015-04-01</span></li>
								<li><a href="">将神三国手游群雄角色解析</a> <span>2015-04-01</span></li>
							</ul>
						</dd>
					</dl><!--dgyx_xw end-->
					<dl class="dgyx_xw">
						<dt><h2>评测</h2> <a href="">全部</a></dt>
						<dd>
							<ul>
								<li><a href="">将神三国手游群雄角色解析</a> <span>2015-04-01</span></li>
								<li><a href="">将神三国手游群雄角色解析</a> <span>2015-04-01</span></li>
							</ul>
						</dd>
					</dl><!--dgyx_xw end-->
				</div><!--dgyx_conlist 简介 end-->
			
				
				
				
				
				
				

				<div class="dgyx_conlist">
					<ul class="xw_xw">
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
					</ul>
				</div><!--dgyx_conlist新闻 end-->
				
				
				
				
				<div class="dgyx_conlist">
					<ul class="xw_xw">
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
					</ul>
				</div><!--dgyx_conlist 攻略end-->
				<div class="dgyx_conlist">
					<ul class="xw_xw">
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
						<li>
							<a href="" class="img"><img src="pic/1.jpg"></a>
							<div>
								<a href="" class="title"><em>雷诺儿携手星耀女神赵倩马化腾、李彦宏的两会互联网提案</em><span class="time">2015-03-05</span></a>
								<p class="tag"><span>标签：</span> <a href="">安卓新闻</a> <a href="">行业新闻</a> </p>
								<p class="xw_peren">
									2015的两会昨日正式拉开，科技界的代表委员的关切将可能通过这样的国家会议上升到国层面进行部署和展开。以下是全国人大代表马化腾、全国政协委员李彦宏今年的两会提案议案，马化腾和李彦宏共同的焦点都在如何让移动互联网的发展成为老百姓的福音。
								</p>
								
							</div>
						</li>
					</ul>
				</div><!--dgyx_conlist评测 end-->
				
			</div><!--dgyx_con end-->
			
			
			
			
			
			
			
						
			
			
			
		</div><!--dgyx_left end-->
		
		
		
		
		<div class="dgyx_rig">
			<dl class="dgyx_xzph">
				<dt><h2>游戏下载排行榜</h2></dt>
				<dd>
					<ul>
                    {pc:content  action="hits" catid="5" order="id DESC" num="10"}
						<li class="one">
							<i class="i">1</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<div class="img"><a href="" class="img"><img src="pic/10.jpg"></a> <a href="" class="txz"><em>英雄徽章</em>策略游戏 <i></i></a></div>
						</li>
					  <li class="two">
							<i class="i">2</i>
							<div class="title"><a href="">英雄徽章</a> <i></i></div>
						  <a href="" class="img"><i></i></a>
						</li>
						<li class="two">
							<i class="i">3</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
						<li>
							<i class="i">4</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
						<li>
							<i class="i">5</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
						<li>
							<i class="i">6</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
						<li>
							<i class="i">7</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
						<li>
							<i class="i">8</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
						<li>
							<i class="i">9</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
						<li>
							<i class="i">10</i>
							<div class="title"><a href="">英雄徽章</a></div>
							<a href="" class="img"><i></i></a>						</li>
					</ul>
				</dd>
			</dl><!--dgyx_xzph end-->
			<dl class="yxzx">
				<dt><h2>游戏资讯</h2> <a href=""></a></dt>
				<dd>
					<ul>
						<li class="oneimg"><a href=""><img src="pic/单个页面/3.jpg"><em>晒出《刀塔传奇》本命英雄，全套周边带回家！</em></a></li>
						<li class="img_list">
							<a href="" class="img"><img src="pic/单个页面/4.jpg"></a>
							<p><a href="" class="title">我叫MT2</a>
								手游行业正在高速发展，随着行业经验...
							</p>
						</li>
						<li class="img_list">
							<a href="" class="img"><img src="pic/单个页面/4.jpg"></a>
							<p><a href="" class="title">我叫MT2</a>
								手游行业正在高速发展，随着行业经验...
							</p>
						</li>
						<li class="img_list">
							<a href="" class="img"><img src="pic/单个页面/4.jpg"></a>
							<p><a href="" class="title">我叫MT2</a>
								手游行业正在高速发展，随着行业经验...
							</p>
						</li>
						<li class="img_list">
							<a href="" class="img"><img src="pic/单个页面/4.jpg"></a>
							<p><a href="" class="title">我叫MT2</a>
								手游行业正在高速发展，随着行业经验...
							</p>
						</li>
					</ul>
				</dd>
			</dl><!--yxzx end-->
			<dl class="zxxyx">
				<dt><h2>在线小游戏</h2> <a href=""></a></dt>
				<dd>
					<ul>
						<li><a href=""><img src="pic/6.jpg"><i>开始玩</i><em>炉石传说</em></a></li>
						<li><a href=""><img src="pic/6.jpg"><i>开始玩</i><em>炉石传说</em></a></li>
						<li><a href=""><img src="pic/6.jpg"><i>开始玩</i><em>炉石传说</em></a></li>
					</ul>
					<ul>
						<li><a href=""><img src="pic/6.jpg"><i>开始玩</i><em>炉石传说</em></a></li>
						<li><a href=""><img src="pic/6.jpg"><i>开始玩</i><em>炉石传说</em></a></li>
						<li><a href=""><img src="pic/6.jpg"><i>开始玩</i><em>炉石传说</em></a></li>
					</ul>
					
				</dd>
			</dl>
		</div><!--dgyx_rig end-->
	</div><!--box end-->
</div><!--main end-->
	
	<div class="foot">
		<div id="service-2015">
			<dl class="fore1">
				<dt><b></b><strong>游戏下载</strong></dt>
				<dd>
					<ul>
						<li><a href="#" target="_blank" rel="nofollow">格斗</a></li>
						<li><a href="#" target="_blank" rel="nofollow">角色</a></li>
						<li><a href="#" target="_blank" rel="nofollow">竞技</a></li>
						<li><a href="#" target="_blank" rel="nofollow">射击</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fore2">		
				<dt><b></b><strong>安卓游戏</strong></dt>
				<dd>
					<ul>
						<li><a href="#" target="_blank" rel="nofollow">排行榜</a></li>
						<li><a href="#" target="_blank" rel="nofollow">策略</a></li>
						<li><a href="#" target="_blank" rel="nofollow">评测</a></li>
						<li><a href="#" target="_blank" rel="nofollow">资讯</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fore3">
				<dt><b></b><strong>苹果游戏</strong></dt>
				<dd>
					<ul>
						<li><a href="#" target="_blank" rel="nofollow">排行榜</a></li>
						<li><a href="#" target="_blank" rel="nofollow">攻略</a></li>
						<li><a href="#" target="_blank" rel="nofollow">评测</a></li>
						<li><a href="#" target="_blank" rel="nofollow">资讯</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fore4">		
				<dt><b></b><strong>游戏专区</strong></dt>
				<dd>
					<ul>
						<li><a href="#" target="_blank" rel="nofollow">天天来战</a></li>
						<li><a href="#" target="_blank" rel="nofollow">黑暗黎明</a></li>
						<li><a href="#" target="_blank" rel="nofollow">Mt2</a></li>
						<li><a href="#" target="_blank" rel="nofollow">后宫甄嬛</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fore5">
				<dt><b></b><strong>H5游戏</strong></dt>
				<dd>		
					<ul>
						<li><a href="#" target="_blank" rel="nofollow">扑鱼</a></li>
						<li><a href="#" target="_blank" rel="nofollow">拍砖</a></li>
						<li><a href="#" target="_blank" rel="nofollow">扫雷</a></li>
						<li><a href="#" target="_blank" rel="nofollow">连连看</a></li>
					</ul>
				</dd>
			</dl>
		</div><!--#5个-->
			
		<ul class="copyright">
			<li>
				<a href="http://youxi.wanjizhijia.com/aboutus/index.html">玩机之家</a> | 
				<a href="http://youxi.wanjizhijia.com/aboutus/index.html">关于我们</a> | 
				<a href="http://youxi.wanjizhijia.com/aboutus/site.html">网站地图</a> | 
				<a>广告服务</a> | 
				<a href="http://youxi.wanjizhijia.com/aboutus/contact.html">联系我们</a> |
				<a>招聘信息</a> | 
				<a>网站律师</a> | 
				<a>会员注册</a> | 
				<a>产品答疑</a>
				<br>Copyright  2014 wanjizhijia.com 皖ICP备13015453号-2<br>
				玩机之家 版权所有
			</li>
		</ul>
	</div><!--底部-->	
</body>
</html>