<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/dahuaxiyou/xinwen/543.html" target="_blank">游戏背景</a>|
            <a href="/dahuaxiyou/gonglue/544.html" target="_blank">升级攻略</a>|
            <a href="/dahuaxiyou/533.html" target="_blank">游戏特色</a>
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>特色副本</dt>
        <dd>
            <a href="/dahuaxiyou/537.html" target="_blank">副本玩法</a>|
            <a href="/dahuaxiyou/545.html" target="_blank">副本技巧</a>|
            <a href="/dahuaxiyou/546.html" target="_blank">副本通关</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>游戏介绍</dt>
        <dd>
            <a href="/dahuaxiyou/547.html" target="_blank">游戏商店</a>|
            <a href="/dahuaxiyou/gonglue/307.html" target="_blank">门派介绍</a>|
            <a href="/dahuaxiyou/548.html" target="_blank">药店系统</a>|
        </dd>  
    </dl><!--data END-->
    <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="/games/842.html">安卓下载</a>
            </li>
            <li class="apple">
                <a href="/games/842.html">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->