<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/jyzjsy/1010.html" target="_blank">踢馆系统</a>|
            <a href="/jyzjsy/1070.html" target="_blank">虚招技巧</a>|
            <a href="/jyzjsy/1072.html" target="_blank">猜拳系统</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>新手进阶</dt>
        <dd>
            <a href="/jyzjsy/1056.html" target="_blank">内力玩法</a>|
            <a href="/jyzjsy/1059.html" target="_blank">回气玩法</a>|
            <a href="/jyzjsy/1066.html" target="_blank">招式搭配</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>游戏特色</dt>
        <dd>
            <a href="/jyzjsy/1063.html" target="_blank">招式射程</a>|
            <a href="/jyzjsy/1065.html" target="_blank">刺探活动</a>|
            <a href="/jyzjsy/1062.html" target="_blank">气招技巧</a>|
        </dd>  
    </dl><!--data END-->
    <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="/games/819.html">安卓下载</a>
            </li>
            <li class="apple">
                <a href="/games/819.html">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->