<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/buliangren/1534.html" target="_blank">元宝获取</a>|
            <a href="/buliangren/1601.html" target="_blank">金币赚取</a>|
            <a href="/buliangren/1572.html" target="_blank">战斗技巧</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>新手指导</dt>
        <dd>
            <a href="/buliangren/1584.html" target="_blank">授权失败</a>|
            <a href="/buliangren/1569.html" target="_blank">忘记密码</a>|
            <a href="/buliangren/1568.html" target="_blank">钻石充值</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>侠客攻略</dt>
        <dd>
            <a href="/buliangren/1566.html" target="_blank">侠客首抽</a>|
            <a href="/buliangren/1565.html" target="_blank">飞燕侠客</a>|
            <a href="/buliangren/1535.html" target="_blank">蒋元信</a>|
        </dd>  
    </dl><!--data END-->
    <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="/games/868.html">安卓下载</a>
            </li>
            <li class="apple">
                <a href="/games/868.html">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->