<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/baimaojihua/1130.html" target="_blank">符石掉落</a>|
            <a href="/baimaojihua/1128.html" target="_blank">游戏简介</a>|
            <a href="/baimaojihua/1136.html" target="_blank">阵容搭配</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>游戏技巧</dt>
        <dd>
            <a href="/baimaojihua/1134.html" target="_blank">战力提升</a>|
            <a href="/baimaojihua/1127.html" target="_blank">伙伴养成</a>|
            <a href="/baimaojihua/1133.html" target="_blank">城镇建设</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>游戏特色</dt>
        <dd>
            <a href="/baimaojihua/1132.html" target="_blank">武器强化</a>|
            <a href="/baimaojihua/1131.html" target="_blank">黑市系统</a>|
            <a href="/baimaojihua/1143.html" target="_blank">协力副本</a>|
        </dd>  
    </dl><!--data END-->
    <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="/games/870.html">安卓下载</a>
            </li>
            <li class="apple">
                <a href="/games/870.html">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->