<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/huaqiangu/1716.html" target="_blank">游戏道具</a>|
            <a href="/huaqiangu/1719.html" target="_blank">装备系统</a>|
            <a href="/huaqiangu/1707.html" target="_blank">任务系统</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>新手指导</dt>
        <dd>
            <a href="/huaqiangu/1731.html" target="_blank">职业选择</a>|
            <a href="/huaqiangu/1703.html" target="_blank">灵宠攻略</a>|
            <a href="/huaqiangu/1733.html" target="_blank">三星通关</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>游戏技巧</dt>
        <dd>
            <a href="/huaqiangu/1730.html" target="_blank">副本技巧</a>|
            <a href="/huaqiangu/1714.html" target="_blank">蜀山坡道</a>|
            <a href="/huaqiangu/1706.html" target="_blank">刷体力值</a>|
        </dd>  
    </dl><!--data END-->
  <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="/games/843.html">安卓下载</a>
            </li>
            <li class="apple">
                <a href="/games/843.html">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->