<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/tiantianchuanqi/1440.html" target="_blank">升级指南</a>|
            <a href="/tiantianchuanqi/1425.html" target="_blank">刷体力值</a>|
            <a href="/tiantianchuanqi/1441.html" target="_blank">阵容推荐</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>特色玩法</dt>
        <dd>
            <a href="/tiantianchuanqi/1434.html" target="_blank">装备合成</a>|
            <a href="/tiantianchuanqi/1421.html" target="_blank">站位技巧</a>|
            <a href="/tiantianchuanqi/1428.html" target="_blank">商城拍卖</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>游戏技巧</dt>
        <dd>
            <a href="/tiantianchuanqi/1427.html" target="_blank">公会系统</a>|
            <a href="/tiantianchuanqi/1419.html" target="_blank">阵容搭配</a>|
            <a href="/tiantianchuanqi/1417.html" target="_blank">战斗阵形</a>|
        </dd>  
    </dl><!--data END-->
    <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="/games/898.html">安卓下载</a>
            </li>
            <li class="apple">
                <a href="/games/898.html">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->