<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/xjqxz/847.html" target="_blank">宠物获得</a>|
            <a href="/xjqxz/845.html" target="_blank">快速升级</a>|
            <a href="/xjqxz/884.html" target="_blank">御灵系统</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>游戏特色</dt>
        <dd>
            <a href="/xjqxz/837.html" target="_blank">职业选择</a>|
            <a href="/xjqxz/880.html" target="_blank">战力提升</a>|
            <a href="/xjqxz/857.html" target="_blank">技能加点</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>职业介绍</dt>
        <dd>
            <a href="/xjqxz/858.html" target="_blank">仙族技能</a>|
            <a href="/xjqxz/844.html" target="_blank">魔族玩法</a>|
            <a href="/xjqxz/858.html" target="_blank">神族技巧</a>|
        </dd>  
    </dl><!--data END-->
    <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="">安卓下载</a>
            </li>
            <li class="apple">
                <a href="">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->