<div class="top_right">
    <dl class="data">
        <dt>常用资料</dt>
        <dd>
            <a href="/ysqth/2666.html" target="_blank">体力获取</a>|
            <a href="/ysqth/2683.html" target="_blank">堕落天使</a>|
            <a href="/ysqth/2804.html" target="_blank">新手阵容</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">           
        <dt>新手指导</dt>
        <dd>
            <a href="/ysqth/2658.html" target="_blank">职业选择</a>|
            <a href="/ysqth/2686.html" target="_blank">伙伴推荐</a>|
            <a href="/ysqth/2697.html" target="_blank">宝箱系统</a>|
        </dd>  
    </dl><!--data END-->
    <dl class="data">
        <dt>游戏技巧</dt>
        <dd>
            <a href="/ysqth/2704.html" target="_blank">钥匙获得</a>|
            <a href="/ysqth/2652.html" target="_blank">竞技场</a>|
			 <a href="/ysqth/2687.html" target="_blank">阵容搭配</a>|
            </dd>  
    </dl><!--data END-->
  <div class="game_load">
        <ul>
            <li class="andriod">
                <a href="/games/956.html">安卓下载</a>
            </li>
            <li class="apple">
                <a href="/games/956.html">IOS下载</a>
            </li>
        </ul>
    </div><!--game_load END-->
</div><!--top_right END-->