<div class="top">
	<div class="topbar">
        <div class="top-container">
            <div class="global-nav">
                <span>全站导航</span>
                <div class="topbar-box">
                    <div class="topbar-nav">
                        
                        <div class="qzdh topbar-new"><a href="#" target="_blank">资讯中心</a></div>
                        <div class=" qzdh_zx ">
                            <div class="topbar-navlistbox">
                                <a href="#" target="_blank" class="noborder">游戏资讯</a>
                                <a href="#" target="_blank">游戏评测</a>
                                <a href="#" target="_blank">游戏攻略</a>
                                <a href="#" target="_blank">趣味周边</a>
                            </div>
                        </div>
                        
                        <div class=" qzdh topbar-down"><a href="#" target="_blank">游戏下载</a></div>
                        <div class="qzdh_zx ">
                            <div class="topbar-navlistbox">
                                <a href="#" target="_blank" class="noborder">手机网游</a>
                                <a href="#" target="_blank">单机游戏</a>
                                <a href="#" target="_blank">找游戏</a>
                                <a href="#" target="_blank">游戏专题</a>
                            </div>
                        </div>
                        <div class="topbar-pic">
                            <div class="topbar-picbox">
                                <a href="#" target="_blank" class="top-gift">礼包</a>
                                <a href="#" target="_blank" class="top-ceshi">测试表</a>
                                <a href="#" target="_blank" class="top-video">游戏视频</a>
                                <a href="#" target="_blank" class="top-pic">图库</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="topbar-area">
                        <div class="topbar-area-title"><a href="#" target="_blank">游戏专区</a></div>
                        <div class="topbar-area-list">
                            <ul>
                                <li> <a href="#" target="_blank">刀塔传奇</a> </li>
                                <li> <a href="#" target="_blank">炉石传说</a></li>
                                <li><a href="#" target="_blank">乱斗西游</a>	</li>
                                <li><a href="#" target="_blank">我叫MT2</a></li>
                                <li><a href="#" target="_blank">梦幻西游手游</a></li>
                                <li><a href="#" target="_blank">航海王启航</a></li>
                                <li><a href="#" target="_blank">自由之战</a></li>
                                <li><a href="#" target="_blank">更多热门专区</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="adlist" >
                <ul>
                    <li><a href="">下游戏抢礼包找攻略尽在93636手游网</a></li>
                    <li><a href="">下游戏抢礼包找攻略尽在93636手游网</a></li>
                    <li><a href="">下游戏抢礼包找攻略尽在93636手游网</a></li>
                </ul>
            </div>

            <div class="global-box">
                <ul>
                    <li><a href="#" class="topbar-home" >手机版</a></li>
                    <li class="topbar-fav"><a href="#"> 登录 </a> | <a href="" > 注册 </a></li>
                    <li><a href="#" class="topbar-username" >保留到桌面</a></li>
                </ul>
            </div>
		</div>
    </div>
</div>