<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="MobileOptimized" content="620"/>
<meta name="format-detection" content="telephone=no" />
<title>用户登录-93636手游网</title>
<link href="/statics/wap/style/yueact.css" rel="stylesheet" type="text/css" />
<script src="/statics/wap/js/jquery.js" type="text/javascript"></script>
</head>
<body class="land">
<div class="header">
  <div class="w100"> <a href=""><img src="/statics/wap/images/zuo.png" alt="" class="zuo die"></a><div class="logn"><em></em></div></div> 
</div>
<div class="content">
  <div class="cont mg">
	  <form method="post">
      <div class="u-login">
	    
        <ul>
          <li><span class="span-1"></span><input class="inputstyle" name="username" placeholder="请输入用户名" onClick="document.bgColor='#fff'"></li>
          <li><span class="span-2"></span><input class="inputstyle" name="password" type="password" placeholder="请输入密码" onClick="document.bgColor='#fff'"></li>
        </ul>
	    
      </div>
      <div class="switch">
          <span class="int"> <input name="" class="fx" type="checkbox" value="" />记住登陆</span>
          <a href="" class="rit">忘记密码?</a>
      </div>
      <div class="onekeys">
          <a href="javascript:void(0);" class="go" >登 录</a>
          <a href="/index.php?m=member&c=index&a=register" class="onekey white">注册</a>
      </div>
      </form>
      <div  class="onekeys change">
          <a href="" class="int"><i class="weib"></i>微博登陆</a>
          <a href="" class="rit"><i class="qq"></i>QQ登陆</a>
      </div>
  </div>
</div>

<div class="footer"></div>

</body>
</html>
